.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hidden{
	display:none;
}

#logo{
	display:none;
}

#logomobile{
	height:60px;
	width:85px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	z-index:2;
	float:left;
	display:inline;
}


#navigationbar{
	height:70px;
}

#topcolor{
	display:none;
}

.navigationsection{
	display:none;
}

/* Mobilenavigation */

#mobilenavigationbutton{
	display:inline;
	float:right;
	height:70px;
	width:70px;
}

#mobilenavigationbutton:hover{
	cursor: pointer;
}

#mobilenavigationbutton img{
	height:40px;
	width:40px;
	margin-top:15px;
	margin-left:15px;
}

@keyframes scrollnavigation {
    0%   {right:-300px;}
	20%   {right:-240px;}
    40%  {right:-180px;}
	60%  {right:-120px;}
	80%  {right:-80px;}
    100% {right:0px;}
}

#mobilenavigation{
		position:absolute;
		z-index:3;
		right:0;
		width:250px;
		height:100%;
		background-color:rgba(30, 96, 97, 0.98);
		-webkit-box-shadow: 1px 0px rgba(25, 25, 25, 0.5);
		-moz-box-shadow: -1px 0px rgba(25, 25, 25, 0.5);
		box-shadow: -1px 0px rgba(25, 25, 25, 0.5);
		animation-name: scrollnavigation;
		animation-duration: 0.1s;
}

#mobilenavigation div{
	height:auto;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}

#mobilenavigation div a{
	color:white;
	margin-left:20px;
}

#mobilenavigation div p{
	color:white;
	margin-right:30px;
	float:right;
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	padding:5px 5px;
	cursor:pointer;
}

.lowernavigation{
	height:80px;
	width:100%;
	display:block;
}

.lowernavigation a{
	padding-top: 15px;
	padding-bottom:15px;
	padding-left:25px;
	display:block;
}

#mobilenavigationOff{
		display:none;
}

#mobileSocialMediaDiv{
	
	height:80px;
	width:100%;
	border-top: 3px rgba(255, 88, 89, 0.98);
	margin-top: 30px;
	display:block;
	text-align:center;
}

#mobileSocialMediaDiv a{
	height:65px;
	width:70px;
	margin-left:0px!important;
}

#mobileSocialMediaDiv a img{
	height:60px;
	width:60px;
}

/*End Mobile Navigation*/



#header{
	display:none;
}

#mobileheader{
	display:block;
	width:100%;
	height:auto;
}

#mobileheader img{
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
}

#mobileheader div{
	background-color:rgb(68,69,69);
	height:250px;
	margin:0px;
	padding:0px;
	text-align:center;
}

#mobileheader div h1{
	text-align:center;
	margin-bottom:0px;
	padding-bottom:0px;
	color:white;
	text-shadow: 1px 1px rgba(240, 240, 240, 0.5);
	font-size:25px;
}

#mobileheader div p{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:18px;
	color:white;
	text-shadow: 0px 0px rgba(240, 240, 240, 0.5);
}

#mobileheader div a{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:white;
	padding:10px 100px;
	border-radius:25px;
}

#mobileheader div a:hover{
	padding:11px 105px;
}




#mainsection h1{
	margin-top:60px;
	font-size:45px;
	text-align:center;
	
}

#news{
	margin-left:auto;
	margin-right:auto;
	top:0px;
	width:80%;
	clear:both;
	float:none;
}

#newscontainer{
	position:relative;
	width:100%;
	height:150px;
	overflow:hidden;
}


#twitterwindow{
	position:relative;
	width:100%;
	top:80px;
	float:none;
	clear:both;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	background-color:rgba(220, 220, 220, 0.5);
	padding-top:80px;
	margin-bottom:0px;
	padding-bottom:80px;


}

#twitterwindow div{
	width:400px;
	
	margin-right:auto;
	margin-left:auto;
}


footer{
	min-height:250px;
	width:100%;
	max-width:1900px;
	background-color:rgb(30, 96, 97);
	margin-left:auto;
	margin-right:auto;
	display:none;
}


