body{
	border:0px;
	margin:0px;
	padding:0px;
	background-color:rgb(255, 255, 255);
	overflow-x:hidden;
	overflow-y:scroll;
	font-family:"Arial";
}

p, h1, h2, h3, a{
	font-family:"Arial";
	
}

h2{
	font-size:30px;
}

h3{
	font-size:25px;
}

p, a, h3{
	color:rgb(68,69,69);
}

p{
	font-size:18px;
}

div{
	height:auto;
	width:100%;
	max-width:1900px;
	margin:auto;
}

h1, h2, h3{
	color:rgb(48,49,49);
	font-family:"Arial"
}

a{
	text-decoration: none;
	font-family:"Arial";
}

img{
	height:100%;
	width:100%;
}

.buttonlink{
	font-size:20px;
	font-weight:bold;
	color:white;
	padding:15px 100px;
	background-color:rgb(30, 96, 97);
	border-radius:25px;
	-webkit-box-shadow: 1px 1px rgba(25, 89, 90, 0.5);
	-moz-box-shadow: 1px 1px rgba(25, 89, 90, 0.5);
	box-shadow: 1px 1px rgba(25, 89, 90, 0.5);
}

.buttonlink:hover{
	padding:17px 105px;
	border-radius:30px;
}

#topcolor{
	height:30px;
	width:100%;
	background-color:rgb(30, 96, 97);
	max-width:1900px;
	margin-left:auto;
	margin-right:auto;
}

#navigationbar{
	width:100%;
	max-width:1900px;
	height:140px;
	background-color:rgba(255, 255, 255, 1);
	z-index:2;
	position:relative;
	display:table;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px solid rgba(194,194,194,0.5);
}


.navigationsection{
	margin-top:auto;
	margin-bottom:auto;
	width:10%;
	height:140px;
	float:right;
}


.navigationsection a{
	display:block;
	font-size:30px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:55px;
}

.navigationsection a:hover{
	color:rgb(30, 96, 97);
}

#mobilenavigationbutton{
	display:none;
}

#mobilenavigationOff{
		display:none;
}

#firstsection{
	margin-right:5%;
}

#logo{
	height:130px;
	width:512px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	z-index:2;
	float:left;
}

#logomobile{
	display:none;
}

#mobileheader{
	display:none;
}

#header{
	width:1900px;
	height:700px;
	position:relative;
	z-index:1;
	overflow:hidden;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px 1px 0px 0px rgba(194,194,194,0.5);
	box-shadow: 0px 1px 0px 0px rgba(194,194,194,0.5);
}


#headerimage{
	width:100%;
	height:100%;
	position:absolute;
	padding:0;

}

#headerimage img{
	width:100%;
	height:100%;
	position:relative;
	display:block;
	margin: auto auto;
}

#headerinformation{
	height:500px;
	width:600px;
	top:-550px;
	display:block;
	margin-left:80px;
	margin-right:auto;
	position:relative;
	z-index:4;
}

#headerinformation h1{
	font-size:80px;
	margin-top:20px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:40px;
	color:rgb(30, 96, 97);
	text-shadow: 1px 1px rgba(25, 89, 90, 0.5);
}

#headerinformation h2{
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:0px;
	color:white;
	text-shadow: 1px 1px rgba(240, 240, 240, 0.5);
}

#headerinformation h3{
	margin-top:30px;
	margin-bottom:20px;
	color:white;
	padding-bottom:50px;
	text-shadow: 1px 1px rgba(240, 240, 240, 0.5);
}


#mainsection{
	z-index:0;
	height:auto;
	height:800px;
	width:1200px;
	position:relative;
	margin:auto;
	display:block;
}

#mainsection h1{
	margin-top:150px;
	font-size:60px;
	text-align:center;
	
}


#news{
	position:relative;
	margin-left:80px;
	top:50px;
	width:600px;
	float:left;

}

#newscontainer{
	position:relative;
	width:600px;
	height:150px;
	overflow:hidden;
}

#newscontainer h3{
	padding-bottom:2px;
	margin-bottom:0px;
}

#newsdate{
	padding-top:0px;
	margin-top:0px;
	font-size:11px;
	display:inline;
}

#twitterwindow{
	float:right;
	margin-right:80px;
	position:relative;
	width:400px;
	top:50px;
}


footer{
	min-height:250px;
	width:100%;
	max-width:1900px;
	background-color:rgb(30, 96, 97);
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
}

#footercontainer{
	width:1200px;
	height:auto;
	top:50px;
	margin-right:auto;
	margin-left:auto;
}

.footerlink{
	float:left;
	margin-left:50px;
	width:150px;
	height:150px;
	margin-top:80px;
}

.footerlink a{
	color:white;
	font-size:15px;
	display:block;
}

#firstfooterlink{
	margin-left:275px!important;	
}

#socialmediacontainer{
	height:72px;
	width:120px;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

#socialmediacontainer img{
	padding:0px;
	border:0px;
	height:50px;
	width:50px;
	margin-left:6px;
}



/* Here begins the team css
//////////////////////////
//////////////////////////
////////////////////////*/
#teamdiv{
	margin:auto;
	width:100%;
	min-height:850px;
	max-width:1900px;
	background-color:rgba(220, 220, 220, 0.5);
}

.teammember{
	float:left;
	height:800px;
	width:33%;
	margin:auto;
	background-color:rgba(220, 220, 220, 0);
	padding-bottom:50px;
}

.memberfoto{
	margin-top:100px;
	width:100%;
	height:auto;
	
}

.memberfoto img{
	width:400px;
	height:400px;
	display:block;
	margin:auto;
}

#membertext{
	width:400px;
	display:block;
	height:300px;
	max-height:400px;
	margin:auto;
}

#membertext p, h2, h3{
	width:auto;
	margin:auto;
}

#membertext h2{
	margin-top:40px;
	margin-bottom:5px;
	
}

#membertext h3{
	margin-top:5px;
	font-size:20px;
	color:rgb(30, 96, 97);
}


#membertext p{
	margin-top:40px;
	font-size:20px;
	display:block;
}


#contactdiv{
	margin:auto;
	width:100%;
	max-width:1900px;
	padding-bottom:100px;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
}

#contactdiv h2{
	margin-top:100px;
	text-align:center;
	font-size:60px;
	margin-bottom:100px;
}

form{
	width:60%;
	height:auto;
	margin:auto;
}

form p{
	margin-bottom:5px;
	margin-top:35px;
}

form label{
	font-size:25px;
}

form input{
	width:100%;
	height:65px;
	margin-bottom:0px;
	font-size:32px;
	color:rgb(68,69,69);
	padding:10px;
	border-width:1px;
	border-color:rgba(0,0,0, 0.5);
}

form textarea{
	width:100%;
	height:200px;
	font-size:25px;
	color:rgb(68,69,69);
	font-family:"Arial";
	padding:10px;
	border-width:1px;
	border-color:rgba(0,0,0, 0.5);
}

#formsubmit{
	border:0px;
	display:block;
	margin:auto;
	width:auto;
	font-size:20px;
	font-weight:bold;
	color:white;
	padding:15px 100px;
	background-color:rgb(30, 96, 97);
	border-radius:33px;
	margin-top:100px;
}

#formsubmit:hover{
	padding:17px 105px;
	border-radius:34px;
}

#message{
	width:60%;
	background-color:rgba(97,150,50,0.9);
	border-style:solid;
	border-width:2px;
	border-color:rgb(84, 127, 43);
	color:white;
	font-size:20px;
	text-align:center;
	vertical-align:middle;
	margin:auto;
	padding-top:5px;
	padding-bottom:5px;
}




/* Here begins the games css
//////////////////////////
//////////////////////////
////////////////////////*/


#gamechoice{
	width:100%;
	height:auto;
	display:block;
}

#gamechoiceimage{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:960px;
	height:auto;
}

#gamechoiceimage img{
	width:960px;
	height:430px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}

#gamechoiceinfo{
	margin:auto;
	width:960px;
	margin-bottom:100px;
	height:70px;
	background-color:rgb(30, 96, 97);
	text-align:center;
	display:table;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	box-shadow: 0px -1px 0px 0px rgba(194,194,194,0.5);
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#gamechoiceinfo a{
	display:table-cell;
	font-size:40px;
	padding:0px;
	background-color:none;
	height:100%;
	width:100%;
	vertical-align:middle;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(194,194,194,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(194,194,194,0);
	box-shadow: 0px 0px 0px 0px rgba(194,194,194,0);
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}

#gamechoiceinfo :hover{
	background-color:rgb(97,150,50);
}



/* Here begins the single game css
//////////////////////////
//////////////////////////
////////////////////////*/

#gameinfo{
	width:100%;
	max-width:1900px;
	text-align:center;
	border-bottom: 1px solid rgba(194,194,194,0.5);
	padding-top:100px;
	padding-bottom:100px;
}

#gameinfo img{
	width:800px;
	height:auto;
	margin:auto;
	display:block;
	padding-bottom:50px;
}

#gameinfo p{
	width:1000px;
	font-size:30px;
	text-align:center;
	margin:auto;
	margin-bottom:50px;
	color:white;
	text-shadow: 1px 1px rgba(25, 89, 90, 0.5);
}

#gamestorebutton{
	height:80px;
	width:350px;
	margin:auto;
	display:inline-block;
}

#gamestorebutton a{
	height:80px;
	width:100%;
	margin:0px;
	padding:0px;
}

#gamestorebutton img{
	height:80px;
	width:auto;
	padding:0px;
}

#gametrailer{
	padding-top:100px;
	width:100%;
	padding-bottom:100px;
	border-bottom: 1px solid rgba(194,194,194,0.5);
}

#gametrailer iframe{
	display:block;
	margin:auto;
	height:630px;
	width:1120px;
}

#gamescreenshots{
	padding-top:100px;
	width:100%;
	height:auto;
	padding-bottom:100px;
	background-color:rgba(220, 220, 220, 0.5);
	display:inline-block;
	text-align:center;
}

#gamescreenshots img{
	height:270px;
	width:480px;
	border:1px solid rgba(25, 89, 90, 0.5);
	margin:0px;
	padding:1px;
}

