
#mobileheader div p{
	font-size:16px;
	width:80%;
}

#mainsection h1{
	margin-top:60px;
	font-size:40px;
	text-align:center;
	
}

#twitterwindow div{
	width:320px;
	margin-right:auto;
	margin-left:auto;
}


#mobileheader div a{
	font-size:16px;
	padding:10px 70px;
	border-radius:25px;
}

#mobileheader div a:hover{
	padding:11px 74px;
}




/* Here begins the team css
//////////////////////////
//////////////////////////
////////////////////////*/
#teamdiv{
	min-height:2100px;
}

.teammember{
	height:700px;
}

.memberfoto{
	margin-top:75px;
}

.memberfoto img{
	width:300px;
	height:300px;
}

#membertext{
	width:300px;
	height:250px;
	max-height:300px;
}


#membertext h2{
	margin-top:40px;
	margin-bottom:5px;
	font-size:25px;
	
}

#membertext h3{
	margin-top:5px;
	font-size:18px;
	color:rgb(30, 96, 97);
}


#membertext p{
	margin-top:40px;
	font-size:18px;
	display:block;
}


#contactdiv h2{
	margin-top:100px;
	text-align:center;
	font-size:40px;
	margin-bottom:100px;
}

form{
	width:70%;
}

form label{
	font-size:22px;
}

form input{
	font-size:23px;
	height:45px;
}


#formsubmit{
	font-size:18px;
	padding:15px 80px;
	margin-top:80px;
}

#formsubmit:hover{
	padding:17px 84px;
	padding-top:17px;
	padding-bottom:33px;
}
