#header{
	width:1400px;
	height:516px;
}

#headerinformation{
	height:380px;
	width:440px;
	top:-440px;
	margin-left:65px;
}

#headerinformation h1{
	font-size:65px;
	margin-bottom:10px;
}

#headerinformation h2{
	font-size:25px;
}

#headerinformation h3{
	padding-bottom:40px;
	font-size:22px;
}