#header{
	width:1600px;
	height:590px;
}

#headerinformation{
	height:400px;
	width:480px;
	top:-480px;
	margin-left:70px;
}

#headerinformation h1{
	font-size:70px;
	margin-bottom:10px;
}

#headerinformation h2{
	font-size:28px;
}

#headerinformation h3{
	padding-bottom:40px;
	font-size:24px;
}